{% extends "base_multicol.html" %}
{% load humanize %}

{% block head %}
<div class="page-header">
	<h1>{{competition.name}}</h1>
</div>
{% endblock %}

{% block content %}
<p>{{competition.description|safe}}</p>

<h2>Open Runs</h2>
<table class="table table-striped">
	<thead>
	<tr>
		<th>Name</th>
		<th>Registration Deadline</th>
		<th>Submission Deadline</th>
		<th>Register</th>
	</tr>
	</thead>

	<tbody>
	{% for run in run_list %}
	<tr>
		<th><a href="{% url 'run_detail' pk=run.pk %}">{{run.name}}</a></th>
		<td title="{{run.registration_deadline}}">{{run.registration_deadline|naturaltime|default:"N/A"}}</td>
		<td title="{{run.sumission_deadline}}">{{run.sumission_deadline|naturaltime|default:"N/A"}}</td>
		<td>{% if run.can_register %}<a class="btn btn-default btn-sm" href="{% url 'register' run=run.pk %}">Sign up</a>{% else %}Registration Closed{% endif %}</td>
	</tr>
	{% empty %}
	<tr>
		<td colspan="4">No runs currently planned</td>
	</tr>
	{% endfor %}
	</tbody>
</table>

{% include "bootstrap/pagination.html" %}
{% endblock %}

{% block actions %}
<div class="list-group">
	{% if competition.specification_url %}
	<a href="{{competition.specification_url}}" class="list-group-item">View spesification</a>
	{% endif %}
	{% if competition.rules_url %}
	<a href="{{competition.rules_url}}" class="list-group-item">View rules</a>
	{% endif %}
	{% if competition.samples_url %}
	<a href="{{competition.samples_url}}" class="list-group-item">View sample controllers</a>
	{% endif %}
	{% if competition.guidelines_url %}
	<a href="{{competition.guidelines_url}}" class="list-group-item">View submission guidelines</a>
	{% endif %}
</div>

<div class="list-group">
	<a href="#" class="list-group-item">Previous runs</a>
	<a href="#" class="list-group-item">Future runs</a>
</div>
{% endblock actions %}
