{% extends "base.html" %}

{% block content %}
<div class="page-header">
<h1>Competition List</h1>
<p class="lead">This is a list of competitions which are run using this system.</p>
</div>

{% for competition in competition_list %}
	<h2><a href="{% url 'competiton_detail' slug=competition.slug %}">{{competition}}</a></h2>
	<p>{{competition.description}}</p>


	<table class="table">
		<thead>
		<tr>
			<th>Run</th>
			<th>Registration Deadline</th>
			<th>Submission Deadline</th>
			<th>Actions</th>
		</tr>
		</thead>
		<tbody>
		{% for run in competition.competitionrun_set.all %}
			<tr>
				<th>{{run.name}}</th>
				<td>{{run.registration_deadline}}</td>
				<td>{{run.sumission_deadline}}</td>
				<td><a href="{% url 'register' run=run.pk %}">Register</a></td>
			</tr>
			{% empty %}
			<tr>
				<td colspan="4">No active runs</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endfor %}
{% endblock content %}
