{% extends "base_multicol.html" %}

{% block title %}{{run}}{% endblock %}

{% block head %}
<ol class="breadcrumb">
	<li><a href="{% url "home" %}">home</a></li>
  <li><a href="{{ run.competition.get_absolute_url }}">{{run.competition}}</a></li>
  <li><a href="{{ run.get_absolute_url }}">{{run.name}}</a></li>
</ol>

<div class="page-header">
	<h1>{{run.competition}} <small>{{run.name}}</small></h1>
</div>
{% endblock %}

{% block content %}
<p>{{competition.description|safe}}</p>

{% if run.can_register %}
<div class="alert alert-info">
Registrations open
</div>
{% else %}
<div class="alert alert-info">
Registrations closed
</div>
{% endif %}

<table class="table table-striped">
	<thead>
	<tr>
		<th>Entry</th>
		<th>Country</th>
		<th>Points</th>
	</tr>
</thead>
<tbody>
	{% for entry in run.submission_set.all %}
	<tr>
		<td><a href="{{ entry.get_absolute_url }}">{{entry}}</a>
			{% if entry.sample %}
				<span class="label label-default">sample</span>
			{% endif %}
		</td>
		<td>United Kingdom</td>
		<td>{{entry.score}}</td>
	</tr>
	{% endfor %}
</tbody>
<caption>Run #10 - Last updated 10/02/2016</caption>
</table>
<a href="#" class="pull-right">More detail</a>

{% endblock %}

{% block actions %}
<div class="list-group">
	<a href="{% url "submission_detail" pk=1 %}" class="list-group-item">My Controller</a>
	<a href="{% url "submission_create" run=run.pk %}" class="list-group-item">Submit Controller</a>
	<a href="#" class="list-group-item">View scores</a>

	{% if competition.specification_url %}
	<a href="{{competition.specification_url}}" class="list-group-item">View spesification</a>
	{% endif %}
	{% if competition.rules_url %}
	<a href="{{competition.rules_url}}" class="list-group-item">View rules</a>
	{% endif %}
	{% if competition.samples_url %}
	<a href="{{competition.samples_url}}" class="list-group-item">View sample controllers</a>
	{% endif %}
	{% if competition.guidelines_url %}
	<a href="{{competition.guidelines_url}}" class="list-group-item">View submission guidelines</a>
	{% endif %}
</div>
{% endblock actions %}
