{% extends "base.html" %}

{% block content %}
<h1>Welcome to the Competition Server</h1>
<p class="lead">This website allows you to view and submit entries for
competitions.</p>

{% for competition in competition_list %}
<div class="media">
  <div class="media-left">
    <img class="media-object" src="http://www.pacmanvghosts.co.uk/images/game/ex1.png" style="width: 150px;" alt="...">
  </div>
  <div class="media-body">
    <h1 class="media-heading"><a href="{{competition.get_absolute_url}}">{{competition}}</a></h1>
    {{competition.description}}
  </div>
</div>
{% endfor %}

{% endblock %}
