{% extends "base.html" %}

{% block content %}
<h1>Competition Registration</h1>


<form action="" method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="Submit" />
</form>
{% endblock content %}
