{% extends "base_multicol.html" %}
{% load humanize %}

{% block head %}
<ol class="breadcrumb">
	<li><a href="{% url "home" %}">home</a></li>
  <li><a href="{{ submission.run.competition.get_absolute_url }}">{{submission.run.competition}}</a></li>
  <li><a href="{{ submission.run.get_absolute_url }}">{{submission.run}}</a></li>
	<li><a href="{{ submission.get_absolute_url }}">{{submission}}</a></li>
</ol>

<div class="page-header">
	<h1>{{submission.name}}</h1>
</div>
{% endblock %}

{% block content %}
{% if submission.description %}
<p>{{submission.description}}.</p>
{% else %}
<p class="text-muted">No description provided</p>
{% endif %}

<h2>Summary</h2>
<dl class="dl-horizontal">
	<dt>Run ID</dt>
	<dd><a href="{{ submission.run.get_absolute_url }}">{{submission.run}}</a></dd>
	<dt>Language</dt>
	<dd>Java</dd>
	<dt>First upload</dt>
	<dd>{{submission.created}}</dd>
	<dt>Last modified</dt>
	<dd>{{submission.created}}</dd>
	<dt>Sample Controller?</dt>
	<dd>No</dd>
</dl>

<h2>Versions</h2>
<table class="table table-striped">
	<thead>
	<tr>
		<th>Date</th>
		<th>Status</th>
		<th>Size</th>
	</tr>
	</thead>

	<tbody>
	{% for run in submission.uploads.all %}
	<tr>
		<th>{{run.created}}</th>
		<td>{{run.get_status_display}}</td>
		<td>{{run.upload.size|filesizeformat}}</td>
	</tr>
	{% empty %}
	<tr>
		<td colspan="3">No previous versions</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}

{% block actions %}
<div class="list-group">
	<a href="{{submission.submission}}" class="list-group-item">Download code</a>
	<a href="#" class="list-group-item">View paper</a>
</div>

<div class="list-group">
	<a href="{% url "submission_upload" submission=submission.pk %}" class="list-group-item">Upload new version </a>
	<a href="{% url "submission_edit" pk=submission.pk %}" class="list-group-item">Edit Submission</a>
</div>
{% endblock actions %}
