{% extends "base.html" %}
{% load humanize %}

{% block content %}
<h1>{{user}}'s submissions</h1>

<table class="table table-hover">
	<caption>Previous Submissions</caption>
	<thead>
	<tr>
		<th>Run</th>
		<th>Date</th>
		<th>Status</th>
		<th>Download</th>
	</tr>
	</thead>
	<tbody>
	{% for submission in submission_list %}
	<tr>
		<td><a href="{{ submission.get_absolute_url }}">{{submission.run}}</a></td>
		<td title="{{submission.created}}">{{submission.created|naturaltime}}</td>
		<td>{{submission.get_status_display}}</td>
		<td><a href="{{submission.submission.url}}">Download</a></td>
	</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock content %}
