{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
<ol class="breadcrumb">
	<li><a href="{% url "home" %}">home</a></li>
  <li><a href="{{ run.competition.get_absolute_url }}">{{run.competition}}</a></li>
  <li><a href="{{ run.get_absolute_url }}">{{run.name}}</a></li>
</ol>

<div class="page-header">
  <h1>{{run}}</h1>
</div>

<div class="well">
	<h2>Submission Details</h2>

<form action="#" method="post">
	{% csrf_token %}
	{% bootstrap_form form %}
	<input type="submit" class="btn btn-primary" value="Create" />
</form>
</div>
{% endblock content %}
