{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
<ol class="breadcrumb">
	<li><a href="{% url "home" %}">home</a></li>
  <li><a href="{{ submission.run.competition.get_absolute_url }}">{{submission.run.competition}}</a></li>
  <li><a href="{{ submission.run.get_absolute_url }}">{{submission.run}}</a></li>
</ol>

<div class="page-header">
  <h1>{{submission}}</h1>
</div>

<div class="well">
	<h2>Submission Details</h2>

<form action="#" enctype="multipart/form-data" method="post">
	{% csrf_token %}
	{% bootstrap_form form %}
	<input type="submit" class="btn btn-primary" value="Create" />
</form>
</div>
{% endblock content %}
