{% extends "base_multicol.html" %}

{% block head %}
<ol class="breadcrumb">
	<li><a href="{% url "home" %}">home</a></li>
  <li><a href="{{ submission.run.competition.get_absolute_url }}">Dashboard</a></li>
</ol>

<div class="page-header">
<h1>Competition Overview</h1>
</div>
{% endblock %}

{% block content %}

<table class="table table-striped">
  <caption>Currently active submissions</caption>
	<thead>
		<tr>
			<th>Submission</th>
			<th>Run</th>
			<th>Closing Date</th>
		</tr>
	</thead>
	<tbody>

	{% for run in run_list %}
		<tr>
			<th><a href="{{ run.get_absolute_url }}">{{run}}</a></th>
			<td><a href="{{ run.get_absolute_url }}">{{run.run}}</a></td>
			<td>{{run.run.sumission_deadline}}</td>
		</tr>
	{% empty %}
	<li>You do not have any competitions</li>
	{% endfor %}
	</tbody>
</table>
{% endblock content %}

{% block actions %}
<div class="list-group">
	<a class="list-group-item" href="{{ run.competition.get_absolute_url }}">View competitions</a></li>
	<a class="list-group-item" href="{% url 'submission_view' %}">View submissions</a></li>
</div>

<div class="list-group">
	<a class="list-group-item" href="{% url 'submission_create' %}">Create new Submission</a></li>
	<a class="list-group-item" href="{% url 'submission_view' %}">View submissions</a></li>
</div>
{% endblock %}
