{% extends "base.html" %}

{% block content %}
<h1>Competition List</h1>

<ul>
	{% for run in run_list %}
	<li>{{run}} <a href="{% url 'submission_create' run=run.pk %}">submit</a></li>
	{% empty %}
	<li>You do not have any competitions</li>
	{% endfor %}
</ul>


<a href="{% url 'runs_view' %}">View competitions</a>
<a href="{% url 'submission_create' %}">Upload new entry</a>
{% endblock content %}
