{% extends "base.html" %}

			{% block container %}
			{% block head %}
			{% endblock head %}
		<div class="row">
			<div class="col-md-9">
		{% block content %}
		{% endblock content %}
			</div>
			<div class="col-md-3">
				{% block sidebar %}
					{% block actions %}
					{% endblock actions %}
				{% endblock sidebar %}
			</div>
		</div>
		{% endblock container %}
