<!doctype html>
<html>
	<head>
		{% load staticfiles %}
		<title>Competition Server</title>
		<link rel="stylesheet" href="{% static "css/bootstrap.css" %}" />
		<link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}" />
		<script src="{% static "js/bootstrap.js" %}"></script>
	</head>
	<body>
		<nav class="navbar navbar-default">
			<a class="navbar-brand" href="{% url 'home' %}">Competition Server</a>
			<ul class="nav navbar-nav">
				<li><a href="{% url 'competition_list' %}">Competitions</a></li>
				<li><a href="{% url 'dashboard' %}">My Submissions</a></li>
			</ul>
			<p class="navbar-text pull-right">
			{{user}}
		  </p>
		</nav>
		<div class="container">
			{% block container %}
		{% block content %}
		{% endblock content %}
		{% block actions %}
		{% endblock actions %}
		{% endblock container %}
		</div>
	</body>
</html>
